.env
.env.*
!.env.example

# macOS system files
.DS_Store
__MACOSX/

# Python cache and environment files
__pycache__/
*.pyc
venv/
env/


# big files
train/
results/
!question_synthesis/results/
!synthesis/toy_spider/train
prompts/
models/
models_cache/
results/

spider_data/
spider2_data/
cache/
# prompt*/
logging/

*.gguf
./synthesis/model/

*.sql
*.sqlite

# *.yaml
Embedding_Service/config.yaml
Data_Synthesizer/pipeline/config.yaml

__pycache__
.vscode
*.sqlite-shm
*.sqlite-wal
*.egg-info
results/*
database/
clash-for-linux/
tmp/
*.zip
*.db
*.gguf
*.yaml
Data_Synthesizer/data

