clickhouse-driver
python-dotenv
func-timeout
json-repair
openai
scipy
sentence-transformers
scikit-learn
tenacity
tqdm
transformers
httpx
ijson
matplotlib
numpy
psycopg2-binary
requests
PyYAML
torch
torchvision
sqlite-vec
sqlite-lembed
